{
  "openapi": "3.1.0",
  "info": {
    "title": "Dash0 API",
    "version": "1.0.0",
    "description": "## Request body size limit\n\nMost API endpoints enforce a maximum request body size of 256KB. Bulk\nendpoints accept a larger body size per request to accommodate batched\npayloads.\n\nRequests exceeding the applicable limit are rejected with a\n`413 Content Too Large` response.\n"
  },
  "servers": [
    {
      "url": "https://api.eu-west-1.aws.dash0.com",
      "description": "API endpoint for AWS region EU (Ireland)"
    },
    {
      "url": "https://api.eu-central-1.aws.dash0.com",
      "description": "API endpoint for AWS region EU (Germany)"
    },
    {
      "url": "https://api.us-west-2.aws.dash0.com",
      "description": "API endpoint for AWS region US (Oregon)"
    },
    {
      "url": "https://api.europe-west4.gcp.dash0.com",
      "description": "API endpoint for GCP region EU (Netherlands)"
    }
  ],
  "tags": [
    {
      "name": "Manage Agent0 Automations"
    },
    {
      "name": "Manage Alerting"
    },
    {
      "name": "Manage Dashboards"
    },
    {
      "name": "Manage Teams and Members"
    },
    {
      "name": "Manage Notification Channels"
    },
    {
      "name": "Manage Recording Rules"
    },
    {
      "name": "Manage Sampling Rules"
    },
    {
      "name": "Manage Signal To Metrics (BETA)"
    },
    {
      "name": "Manage SLOs (Private BETA)"
    },
    {
      "name": "Manage Spam Filters"
    },
    {
      "name": "Manage Synthetic Checks"
    },
    {
      "name": "Manage Time Series Aggregations (Private BETA)"
    },
    {
      "name": "Manage Views"
    },
    {
      "name": "Edge Collectors"
    },
    {
      "name": "Prometheus API"
    },
    {
      "name": "OAuth 2.0"
    },
    {
      "name": "Query Telemetry"
    },
    {
      "name": "Query SQL"
    }
  ],
  "paths": {
    "/api/agentic-workflows/{originOrId}": {
      "delete": {
        "summary": "Delete an automation by origin or ID",
        "description": "Deletes a specific automation identified by its origin label or UUID.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Automation origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Agent0 Automations"
        ],
        "operationId": "delete_api-agentic-workflows-originorid"
      },
      "get": {
        "summary": "Get a specific automation by origin or ID",
        "description": "Returns a specific automation identified by its origin label or UUID.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Automation origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested automation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgenticWorkflowDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Agent0 Automations"
        ],
        "operationId": "get_api-agentic-workflows-originorid"
      },
      "put": {
        "summary": "Update or create an automation by origin or ID",
        "description": "Updates an existing automation or creates a new one if it doesn't exist. Useful for Infrastructure-as-Code workflows.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Automation origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgenticWorkflowDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated or created automation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgenticWorkflowDefinition"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Agent0 Automations"
        ],
        "operationId": "put_api-agentic-workflows-originorid"
      }
    },
    "/api/alerting/check-rules/{originOrId}": {
      "delete": {
        "summary": "Delete a specific check rule (Prometheus alert rule) by origin or id.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Check rule origin or id"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response in case the check rule was deleted"
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Alerting"
        ],
        "operationId": "delete_api-alerting-check-rules-originorid"
      },
      "get": {
        "summary": "Retrieve a specific check rule (Prometheus alert rule) by its origin or id.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Check rule origin or id"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response in case the check rule could be retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusAlertRule"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Alerting"
        ],
        "operationId": "get_api-alerting-check-rules-originorid"
      },
      "put": {
        "summary": "Update or insert a specific check rule (Prometheus alert rule) by origin or id.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Check rule origin or id"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusAlertRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response in case the check rule was updated. The response contains the updated rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusAlertRule"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Alerting"
        ],
        "operationId": "put_api-alerting-check-rules-originorid"
      }
    },
    "/api/dashboards/{originOrId}": {
      "delete": {
        "summary": "Delete a specific dashboard by its origin or id.",
        "description": "Delete a specific dashboard by its **origin** or **id**.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The **origin** or **id** of the dashboard."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The specific dashboard was deleted."
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Dashboards"
        ],
        "operationId": "delete_api-dashboards-originorid"
      },
      "get": {
        "summary": "Receive a specific dashboard by its origin or id.",
        "description": "Receive a specific dashboard by its **origin** or **id**.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The **origin** or **id** of the dashboard."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receive a specific dashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Dashboards"
        ],
        "operationId": "get_api-dashboards-originorid"
      },
      "put": {
        "summary": "Update or insert a specific dashboard by its origin or id.",
        "description": "Update or insert a specific dashboard by its **origin** or **id**. In case a dashboard with the given **origin** or **id** is found it will be updated. If there is no dashboard found a new dashboard will be created and the given `originOrId` is used as **origin**.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The **origin** or **id** of the dashboard."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated or created dashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Dashboards"
        ],
        "operationId": "put_api-dashboards-originorid"
      }
    },
    "/api/members/{memberID}": {
      "delete": {
        "summary": "Remove a member from the organization.",
        "description": "Removes the given member from the organization.",
        "parameters": [
          {
            "in": "path",
            "name": "memberID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The Clerk user ID of the member to remove."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed the member."
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Teams and Members"
        ],
        "operationId": "delete_api-members-memberid"
      }
    },
    "/api/notification-channels/{originOrId}": {
      "delete": {
        "summary": "Delete a notification channel",
        "description": "Deletes a specific notification channel identified by its UUID or origin.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Notification channel origin or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Notification Channels"
        ],
        "operationId": "delete_api-notification-channels-originorid"
      },
      "get": {
        "summary": "Get a specific notification channel",
        "description": "Returns a specific notification channel identified by its UUID or origin.\n",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Notification channel origin or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested notification channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationChannelDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Notification Channels"
        ],
        "operationId": "get_api-notification-channels-originorid"
      },
      "put": {
        "summary": "Update a notification channel",
        "description": "Updates an existing notification channel.\n",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Notification channel origin or UUID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationChannelDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated notification channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationChannelDefinition"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Notification Channels"
        ],
        "operationId": "put_api-notification-channels-originorid"
      }
    },
    "/api/recording-rules/{originOrId}": {
      "delete": {
        "summary": "Delete a specific recording rule.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Recording rule origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The recording rule was deleted."
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Recording Rules"
        ],
        "operationId": "delete_api-recording-rules-originorid"
      },
      "get": {
        "summary": "Retrieve the latest version of a specific recording rule.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Recording rule origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The requested recording rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusRule"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Recording Rules"
        ],
        "operationId": "get_api-recording-rules-originorid"
      },
      "put": {
        "summary": "Update a specific recording rule.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Recording rule origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            },
            "required": false,
            "description": "Target dataset. Overrides dash0.com/dataset in metadata.labels if both are provided."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The recording rule was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusRule"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Recording Rules"
        ],
        "operationId": "put_api-recording-rules-originorid"
      }
    },
    "/api/sampling-rules/{originOrId}": {
      "delete": {
        "summary": "Delete a sampling rule by origin or ID",
        "description": "Deletes a specific sampling rule identified by its origin label or UUID.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Sampling rule origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Sampling Rules"
        ],
        "operationId": "delete_api-sampling-rules-originorid"
      },
      "get": {
        "summary": "Get a specific sampling rule by origin or ID",
        "description": "Returns a specific sampling rule identified by its origin label or UUID.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Sampling rule origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested sampling rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SamplingDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Sampling Rules"
        ],
        "operationId": "get_api-sampling-rules-originorid"
      },
      "put": {
        "summary": "Update or create a sampling rule by origin or ID",
        "description": "Updates an existing sampling rule or creates a new one if it doesn't exist. Useful for Infrastructure-as-Code workflows.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Sampling rule origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SamplingDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated or created sampling rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SamplingDefinition"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Sampling Rules"
        ],
        "operationId": "put_api-sampling-rules-originorid"
      }
    },
    "/api/signal-to-metrics/{originOrId}": {
      "delete": {
        "summary": "Delete a signal-to-metrics config by origin or ID",
        "description": "Deletes a specific signal-to-metrics configuration identified by its origin label or UUID.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Signal-to-metrics config origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Signal To Metrics (BETA)"
        ],
        "operationId": "delete_api-signal-to-metrics-originorid"
      },
      "get": {
        "summary": "Get a specific signal-to-metrics config by origin or ID",
        "description": "Returns a specific signal-to-metrics configuration identified by its origin label or UUID.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Signal-to-metrics config origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested signal-to-metrics config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignalToMetricsDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Signal To Metrics (BETA)"
        ],
        "operationId": "get_api-signal-to-metrics-originorid"
      },
      "put": {
        "summary": "Update or create a signal-to-metrics config by origin or ID",
        "description": "Updates an existing signal-to-metrics configuration or creates a new one if it doesn't exist. Useful for Infrastructure-as-Code workflows.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Signal-to-metrics config origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignalToMetricsDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated or created signal-to-metrics config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignalToMetricsDefinition"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Signal To Metrics (BETA)"
        ],
        "operationId": "put_api-signal-to-metrics-originorid"
      }
    },
    "/api/slos/{originOrId}": {
      "delete": {
        "summary": "Delete a specific SLO.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "SLO origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The SLO was deleted."
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage SLOs (Private BETA)"
        ],
        "operationId": "delete_api-slos-originorid"
      },
      "get": {
        "summary": "Retrieve the latest version of a specific SLO.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "SLO origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The requested SLO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SloDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage SLOs (Private BETA)"
        ],
        "operationId": "get_api-slos-originorid"
      },
      "put": {
        "summary": "Update a specific SLO.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "SLO origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            },
            "required": false,
            "description": "Target dataset. Overrides dash0.com/dataset in metadata.labels if both are provided."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SloDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The SLO was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SloDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage SLOs (Private BETA)"
        ],
        "operationId": "put_api-slos-originorid"
      }
    },
    "/api/spam-filters/{originOrId}": {
      "delete": {
        "summary": "Delete a spam filter by origin or ID",
        "description": "Deletes a specific spam filter identified by its origin label or UUID.",
        "tags": [
          "Manage Spam Filters"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Spam filter origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_api-spam-filters-originorid"
      },
      "get": {
        "summary": "Get a specific spam filter by origin or ID",
        "description": "Returns a specific spam filter identified by its origin label or UUID.",
        "tags": [
          "Manage Spam Filters"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Spam filter origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested spam filter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpamFilterResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_api-spam-filters-originorid"
      },
      "put": {
        "summary": "Update or create a spam filter by origin or ID",
        "description": "Updates an existing spam filter or creates a new one if it doesn't exist.\nUseful for Infrastructure-as-Code workflows. Provide either structured `filter`\ncriteria or a raw OTTL `condition` in the spec, but not both.\n",
        "tags": [
          "Manage Spam Filters"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Spam filter origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpamFilterResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated or created spam filter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpamFilterResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "put_api-spam-filters-originorid"
      }
    },
    "/api/synthetic-checks/{originOrId}": {
      "delete": {
        "summary": "Delete a specific synthetic check by origin or id.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Synthetic check origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a specific synthetic check."
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Synthetic Checks"
        ],
        "operationId": "delete_api-synthetic-checks-originorid"
      },
      "get": {
        "summary": "Receive a specific synthetic check by its origin or id.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Synthetic check origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receive a specific synthetic check.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticCheckDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Synthetic Checks"
        ],
        "operationId": "get_api-synthetic-checks-originorid"
      },
      "put": {
        "summary": "Update or insert a specific synthetic check by its origin or id.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Synthetic check origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyntheticCheckDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a specific synthetic check.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntheticCheckDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Synthetic Checks"
        ],
        "operationId": "put_api-synthetic-checks-originorid"
      }
    },
    "/api/teams/{originOrId}/members/{memberID}": {
      "delete": {
        "summary": "Remove a member from a team.",
        "description": "Removes the given member from the team.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The **origin** or **id** of the team."
          },
          {
            "in": "path",
            "name": "memberID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The **id** of the member."
          }
        ],
        "responses": {
          "204": {
            "description": "The member is removed."
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Teams and Members"
        ],
        "operationId": "delete_api-teams-originorid-members-memberid"
      }
    },
    "/api/teams/{originOrId}": {
      "delete": {
        "summary": "Delete a specific team by its origin or id.",
        "description": "Delete a specific team by its **origin** or **id**.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The **origin** or **id** of the team."
          }
        ],
        "responses": {
          "200": {
            "description": "Team deleted successfully."
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Teams and Members"
        ],
        "operationId": "delete_api-teams-originorid"
      },
      "get": {
        "summary": "Receive a specific team by its origin or id.",
        "description": "Receive a specific team by its **origin** or **id**.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The **origin** or **id** of the team."
          }
        ],
        "responses": {
          "200": {
            "description": "Receive a specific team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Teams and Members"
        ],
        "operationId": "get_api-teams-originorid"
      }
    },
    "/api/time-series-aggregations/{originOrId}": {
      "delete": {
        "summary": "Delete a time series aggregation by origin or ID",
        "description": "Deletes a specific time series aggregation identified by its origin label or UUID.",
        "tags": [
          "Manage Time Series Aggregations (Private BETA)"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Time series aggregation origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_api-time-series-aggregations-originorid"
      },
      "get": {
        "summary": "Get a specific time series aggregation by origin or ID",
        "description": "Returns a specific time series aggregation identified by its origin label or UUID.",
        "tags": [
          "Manage Time Series Aggregations (Private BETA)"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Time series aggregation origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested time series aggregation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesAggregationDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_api-time-series-aggregations-originorid"
      },
      "put": {
        "summary": "Update or create a time series aggregation by origin or ID",
        "description": "Updates an existing time series aggregation or creates a new one if it doesn't exist.\nUseful for Infrastructure-as-Code workflows.\n",
        "tags": [
          "Manage Time Series Aggregations (Private BETA)"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Time series aggregation origin or UUID"
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeSeriesAggregationDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated or created time series aggregation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesAggregationDefinition"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "put_api-time-series-aggregations-originorid"
      }
    },
    "/api/views/{originOrId}": {
      "delete": {
        "summary": "Delete a specific view by origin or id.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "View origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a specific view."
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Views"
        ],
        "operationId": "delete_api-views-originorid"
      },
      "get": {
        "summary": "Receive a specific view by its origin or id.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "View origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receive a specific view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Views"
        ],
        "operationId": "get_api-views-originorid"
      },
      "put": {
        "summary": "Update or insert a specific view by its origin or id.",
        "parameters": [
          {
            "in": "path",
            "name": "originOrId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "View origin or id."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a specific view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Views"
        ],
        "operationId": "put_api-views-originorid"
      }
    },
    "/api/agentic-workflows": {
      "get": {
        "summary": "List all automations for the organization",
        "description": "Returns all automations configured for your organization.",
        "parameters": [
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          },
          {
            "in": "query",
            "name": "folderPath",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by folder path (exact match on dash0.com/folder-path annotation)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of automations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgenticWorkflowsResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Agent0 Automations"
        ],
        "operationId": "get_api-agentic-workflows"
      },
      "post": {
        "summary": "Create a new automation",
        "description": "Create a new automation for your organization.",
        "parameters": [
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgenticWorkflowDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created automation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgenticWorkflowDefinition"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Agent0 Automations"
        ],
        "operationId": "post_api-agentic-workflows"
      }
    },
    "/api/alerting/check-rules": {
      "get": {
        "summary": "Retrieve a list of check rule ids.",
        "parameters": [
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          },
          {
            "in": "query",
            "name": "idPrefix",
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "description": "If provided, only check rules for which the origin starts with the given string are returned. (deprecated)\n\nThe `originPrefix` query parameter takes precedence over this parameter if both are provided.\n"
          },
          {
            "in": "query",
            "name": "originPrefix",
            "schema": {
              "type": "string"
            },
            "description": "If provided, only check rules for which the origin starts with the given string are returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response in case the list of check rules could be retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrometheusAlertRuleApiListItem"
                  }
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Alerting"
        ],
        "operationId": "get_api-alerting-check-rules"
      },
      "post": {
        "summary": "Create a new check rule.",
        "parameters": [
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            },
            "required": false,
            "description": "The associated dataset."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusAlertRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create a new check rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusAlertRule"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Alerting"
        ],
        "operationId": "post_api-alerting-check-rules"
      }
    },
    "/api/dashboards": {
      "get": {
        "summary": "Receive a list of dashboards",
        "description": "Receive a list of your organization dashboards",
        "parameters": [
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receive a list of dashboards.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DashboardApiListItem"
                  }
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Dashboards"
        ],
        "operationId": "get_api-dashboards"
      },
      "post": {
        "summary": "Create a dashboard",
        "description": "Create a dashboard.",
        "parameters": [
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created dashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardDefinition"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Dashboards"
        ],
        "operationId": "post_api-dashboards"
      }
    },
    "/api/edge/settings": {
      "get": {
        "summary": "Retrieve settings for the organization identified by the provided Dash0 auth token",
        "description": "Returns the aggregate settings payload (dataset settings, signal-to-metrics rules,\ntelemetry transformation rules, observed patterns, etc.) for the organization that\nowns the provided bearer token. Designed for edge collectors running in customer\nenvironments that need their full configuration in one request.\n",
        "tags": [
          "Edge Collectors"
        ],
        "responses": {
          "200": {
            "description": "Settings for the organization identified by the auth token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingsPerOrganizationAndDatasetInfo"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_api-edge-settings"
      }
    },
    "/api/members": {
      "get": {
        "summary": "Receive a list of organization members.",
        "description": "Receive a list of all members in your organization.",
        "responses": {
          "200": {
            "description": "Receive a list of members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MemberDefinition"
                  }
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Teams and Members"
        ],
        "operationId": "get_api-members"
      },
      "post": {
        "summary": "Invite a member to the organization.",
        "description": "Sends an invitation to join the organization to the given email address.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully invited the member."
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Teams and Members"
        ],
        "operationId": "post_api-members"
      }
    },
    "/api/notification-channels": {
      "get": {
        "summary": "List all notification channels for the organization",
        "description": "Returns all notification channels configured for your organization as CRD-enveloped resources.\n",
        "responses": {
          "200": {
            "description": "List of notification channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationChannelDefinitions"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Notification Channels"
        ],
        "operationId": "get_api-notification-channels"
      },
      "post": {
        "summary": "Create a new notification channel",
        "description": "Create a new notification channel for your organization.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationChannelDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created notification channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationChannelDefinition"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Manage Notification Channels"
        ],
        "operationId": "post_api-notification-channels"
      }
    },
    "/api/prometheus/api/v1/format_query": {
      "get": {
        "summary": "Evaluates and returns a formatted version of the query.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "PromQL expression to validate and pretty-print. The response `data` is the\nformatted expression. If the query contains Dash0 template variables (e.g.\n`$__range`, `$__interval`), the original query is returned unmodified.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluated and formatted query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusFormatQueryResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "get_api-prometheus-api-v1-format-query"
      },
      "post": {
        "summary": "Evaluates and returns a formatted version of the query.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusFormatQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluated and formatted query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusFormatQueryResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "post_api-prometheus-api-v1-format-query"
      }
    },
    "/api/prometheus/api/v1/label/{label_name}/values": {
      "get": {
        "summary": "Returns a list of label values for a provided label name.",
        "parameters": [
          {
            "name": "label_name",
            "in": "path",
            "required": true,
            "description": "The label name whose values are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp to restrict the set of returned label values.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp to restrict the set of returned label values.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "match[]",
            "in": "query",
            "description": "Repeated series selector that restricts the label values returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "series_selector"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results. Defaults to and is capped at the server-configured maximum.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Dataset to query. Defaults to the organization's default dataset.",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of label values for a provided label name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusLabelNamesOrValuesResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "get_api-prometheus-api-v1-label-label-name-values"
      },
      "post": {
        "summary": "Returns a list of label values for a provided label name.",
        "parameters": [
          {
            "name": "label_name",
            "in": "path",
            "required": true,
            "description": "The label name whose values are returned.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusLabelNamesOrValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of label values for a provided label name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusLabelNamesOrValuesResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "post_api-prometheus-api-v1-label-label-name-values"
      }
    },
    "/api/prometheus/api/v1/labels": {
      "get": {
        "summary": "Returns a list of label names.",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp to restrict the set of returned label names.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp to restrict the set of returned label names.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "match[]",
            "in": "query",
            "description": "Repeated series selector that restricts the label names returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "series_selector"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results. Defaults to and is capped at the server-configured maximum.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Dataset to query. Defaults to the organization's default dataset.",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of label names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusLabelNamesOrValuesResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "get_api-prometheus-api-v1-labels"
      },
      "post": {
        "summary": "Returns a list of label names.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusLabelNamesOrValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of label names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusLabelNamesOrValuesResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "post_api-prometheus-api-v1-labels"
      }
    },
    "/api/prometheus/api/v1/metadata": {
      "get": {
        "summary": "Returns metadata about metrics currently scraped from targets.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of metrics to return. When omitted, all metrics are returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit_per_metric",
            "in": "query",
            "description": "Maximum number of metadata entries to return per metric.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "If provided, only metadata for this metric name is returned. When omitted,\nmetadata for all metrics is returned.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp. Must be provided together with `end`.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp. Must be provided together with `start`.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Dataset to query. Defaults to the organization's default dataset.",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metric metadata keyed by metric name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusMetadataResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "get_api-prometheus-api-v1-metadata"
      },
      "post": {
        "summary": "Returns metadata about metrics currently scraped from targets.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric metadata keyed by metric name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusMetadataResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "post_api-prometheus-api-v1-metadata"
      }
    },
    "/api/prometheus/api/v1/query_range": {
      "get": {
        "summary": "Evaluates a PromQL expression over a range of time.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "PromQL expression to evaluate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp of the range (inclusive).",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp of the range (inclusive). Must not be before `start`.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "step",
            "in": "query",
            "required": true,
            "description": "Query resolution step width, as a duration or a number of seconds.",
            "schema": {
              "type": "string",
              "format": "duration | float_seconds"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Per-query timeout, clamped to the server-configured maximum.",
            "schema": {
              "type": "string",
              "format": "duration"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of returned series. Defaults to and is capped at the\nserver-configured maximum.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Dataset to query. Defaults to the organization's default dataset.",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluated range query. The result is always a matrix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusQueryResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "get_api-prometheus-api-v1-query-range"
      },
      "post": {
        "summary": "Evaluates a PromQL expression over a range of time.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusQueryRangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluated range query. The result is always a matrix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusQueryResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "post_api-prometheus-api-v1-query-range"
      }
    },
    "/api/prometheus/api/v1/query": {
      "get": {
        "summary": "Evaluates an instant query at a single point in time.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "PromQL expression to evaluate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Evaluation timestamp. Defaults to the current server time when omitted.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Per-query timeout, clamped to the server-configured maximum.",
            "schema": {
              "type": "string",
              "format": "duration"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of returned series. Defaults to and is capped at the\nserver-configured maximum.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Dataset to query. Defaults to the organization's default dataset.",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluated instant query at a single point in time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusQueryResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "get_api-prometheus-api-v1-query"
      },
      "post": {
        "summary": "Evaluates an instant query at a single point in time.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluated instant query at a single point in time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusQueryResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "post_api-prometheus-api-v1-query"
      }
    },
    "/api/prometheus/api/v1/series": {
      "get": {
        "summary": "Returns the list of time series that match a label selector.",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp to restrict the set of returned series.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp to restrict the set of returned series.",
            "schema": {
              "type": "string",
              "format": "rfc3339 | unix_timestamp"
            }
          },
          {
            "name": "match[]",
            "in": "query",
            "description": "Repeated series selector that selects the series to return. Upstream\nPrometheus requires at least one selector.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "series_selector"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results. Defaults to and is capped at the server-configured maximum.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Dataset to query. Defaults to the organization's default dataset.",
            "schema": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of matching time series, each represented by its label set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusSeriesResponse"
                }
              }
            }
          },
          "default": {
            "description": "In case any error happens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus API"
        ],
        "operationId": "get_api-prometheus-api-v1-series"
      },
      "post": {
        "summary": "Returns the list of time series that match a label selector.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrometheusLabelNamesOrValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
